CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/Arduino/.vscode
/RESTAPI_EP/.vs
/RESTAPI_EP/out
/RESTAPI_EP/vcpkg_installed
/ClientAPP/dist
/ClientAPP/node_modules
/RESTAPI_EP/licenses
/RESTAPI_EP/licenses/BreezySLAM/LICENSE.md
